.flex-spacer {
  flex-grow: 1;
}

.code-textarea {
  color: rgba(255, 255, 255, 0.87);
  background-color: #4a4a4a;
  padding: 1rem;
}

.result-textarea {
  color: rgba(255, 255, 255, 0.87);
  padding: 1rem;
  background: none;
  border: none;
}

:focus {outline:none;}
