<div style="display: flex; flex-direction: column; height: 100vh">

  <mat-toolbar class="mat-elevation-z6">
    <span>65C816 C Compilers</span>
    <span class="flex-spacer"></span>
    <a mat-icon-button matTooltip="GitHub" href="https://github.com/mike42/65816-c-compilers" target="_blank">
      <mat-icon>api</mat-icon>
    </a>
  </mat-toolbar>
  <div class="button-row" style="display:flex;background: #4a4a4a;">
    <mat-form-field style="flex-grow: 1;">
      <mat-select [(ngModel)]="compilerModel" placeholder="No compiler selected">
        <mat-option [disabled]="compiler.value != 'calypsi-65816'" *ngFor="let compiler of compilers" [value]="compiler.value">
          {{compiler.displayName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button matTooltip="Compile now" color="accent" (click)="doCompile()">
      <mat-icon>build</mat-icon>
    </button>
  </div>
  <div style="display: flex; flex-grow: 1;">
    <div style="width: 50%; display: flex; flex-direction: column">
      <textarea class="code-textarea" style="flex-grow: 1; font-family: monospace; resize: none;" [value]="code"
                (input)="onCodeChange($event)"></textarea>
    </div>
    <div style="flex-grow: 1;display: flex; flex-direction: column">
      <textarea *ngIf="!loading" class="result-textarea" matInput style="flex-grow: 1; resize: none;" readonly
                [value]="result"></textarea>
    </div>
  </div>
</div>
